// main: ../style.less

.contact {
    display: flex;
}

.contact__left {
    width: 48%;
    padding: 2rem;

    @media @mobile {
        width: 60%;
    }

    @media @mobile-sm {
        width: 100%;
        padding: 1.3rem;
    }
}

.contact__right {
    width: 52%;

    background: @black url("https://via.placeholder.com/470x700") center no-repeat;

    @media @mobile {
        width: 40%;
    }

    @media @mobile-sm {
        display: none;
    }
}

.contact__info {
    margin: 2rem 0 3rem;
    padding: 0;

    font-size: .93rem;
    font-weight: 300;
    color: @black;

    list-style: none;
}

.contact__info-item {
    display: flex;
    align-items: center;
    margin-bottom: .7rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.contact__info-icon {
    margin-right: .7rem;
}














